// Name:            Style front layout
// Description:     Sets  values for front page layout HTML elements and customization.
//
// =============================================================================



// 
// Variables
// =============================================================================

@navbar-sm-min-height:                                                   26px;
@header-logo-margin:                                                     20px;

@main-padding-top-height:         (@navbar-sm-min-height + @navbar-min-height);

/* mower header.styles for mu-header.
 ========================================================================== */
.mu-header {
    margin-top: 5px;
}
.mu-header > div + div {
    margin-top: 5px;
}
.mu-header-inner {
    .search-container {
        color: #777;
        line-height: 34px;
        position: relative;
        p {
            margin-bottom: 0;
            a:hover {
                text-decoration: underline;
            }
        }
        ul {
            margin-bottom: 0;
        }
        .search-form {
            padding-right: 0;
        }
    }
    
    .search {
      margin-top: @header-logo-margin;
      margin-bottom: @header-logo-margin;
    }

    .search-content {
      .nav > li > a {
        padding: 3px 10px;
      }
      

      .search-form {
        .form-control {
          border: 2px solid #ccc;
        }

      }
    }

    .search-default .search-form button {
        color: #fff;
        background-color: #faa619;
        &:hover, &:focus {
            background-color: #e59205;
        }
    }


    .search-default .nav-pills>li.active>a, 
    .search-default .nav-pills>li.active>a:hover,
    .search-default .nav-pills>li.active>a:focus {
      color: #fff;
      background-color: #faa619;
    }

    .search-default .search-form .form-control,
    .search-default .search-form .form-control + .input-group-btn {
      border-color: #faa619;
    }

    .shortcut {
        margin-top: @header-logo-margin;
        margin-bottom: @header-logo-margin;
        > ul {
            > li {
                width: 80px;
                i {
                  color:#faa619;
                  &:hover,
                  &:focus{
                    color: #e59205;
                  }
                }
                .tag {
                  top: -14px;
                  left: 20px;
                }
                .text {
                    top: 25px;
                    left: -5px;
                    white-space: nowrap;
                    font-size: 13px;
                    color:#dd4814;
                    &:hover,
                    &:focus{
                      color: #ae3910;
                    }
                }

            }
        }
    }

    .step-container {
      margin-top: @header-logo-margin;
      margin-bottom: @header-logo-margin;
    }

    .step-tooltip {
        margin-top: @header-logo-margin;
        margin-bottom: @header-logo-margin;

        .step-tooltip-content {
          padding-left: 15px;
          margin-left: @header-logo-margin;
          border-left: 2px solid #777;
          color:#999;

          span {
                font-size: 20px;
                font-weight: 700;
                line-height: 45px;
            }
        }
    }
}

.mu-header-navbar {
  background-color: #d40b07;
  .navbar {
    margin-bottom: 0;
  }
  .navbar-nav.navbar-right:last-child {
    margin-right: 0;
  }
}
@media (min-width:@screen-sm) {
  .mu-header-navbar  .navbar-collapse {
    padding-left: 0;
  }
}


.mu-navbar-transparent {
    background-color: transparent;
    border-color: transparent;
}

.mu-navbar-sm {
    min-height: @navbar-sm-min-height;
    margin-bottom: 0;

    .divider-vertical {
      height:@navbar-sm-min-height;
      margin: 0 2px;
      border-right: 1px solid #ffffff;
      border-left: 1px solid #f2f2f2;
    }

    .navbar-nav.navbar-right:last-child {
      margin-right:0;
    }
}

/* content */
.mu-navbar-nav-sm {
  > li {
    font-size: 12px;
    margin: 0;
    padding: 0;
    color: #777;
    line-height: 26px;

    > span a {
        color: #777;
        font-size: 12px;
        padding-left: 10px;
        padding-right: 10px;
        &:hover{
          color: #333;
        }
    }

    > a {
      font-size: 12px;
      padding: 5px 5px ;
      line-height: 16px;
      >i {
         font-size: 16px;
      }

    }

    &.dropdown {
      padding-left: 4px;
      padding-right: 4px;

      > a {
        padding-left: 4px;
        padding-right: 4px;

        > .badge{
          border-radius: 10px !important;
        }

        &:last-child{
          padding-right: 0;
        }

      }

      &:last-child{
        padding-right: 2px;
      }

      .dropdown-toggle {
        margin: 0px;
        padding: 5px 10px;

        > i {
          font-size: 16px;
        }

        > i.fa-sm {
          font-size: 12px;
        }

        > li > a > i {
          font-size: 14px;
        }

        .badge {
          position: absolute;
          top: 2px;
          left:-8px;
        }
      }

      &.user {

        .dropdown-toggle{

          &:hover{
            text-decoration: none;
          }

          i {
            display: inline-block;
            margin: 0;
            font-size: 16px;
          }
        }

        .dropdown-menu i {
          width: 18px;
          display: inline-block;
        }
      }

    }
    .dropdown-menu {
      margin-top: 2px;

      > li > a {
        padding: 6px 0 6px 13px;
        font-size: @header-ddm-font-size;
      }
    }
  }
}

@media (max-width: @screen-sm) {
  .mu-navbar-nav-sm > li > .dropdown-menu{
    right: 0;
    left: auto;

    &:before {
      right: 12px;
      left: auto;
    }

    &:after {
      right: 13px;
      left: auto;
    }
  }
}

.mu-header-fixed .mu-navbar-under-small {
    top: @navbar-sm-min-height;
    z-index: 1020;

    .navbar-toggle {
        margin-top: 3px;
        margin-bottom: 0;
    }
}

@media (max-width: @screen-sm-max) {

    .mu-navbar-nav-sm {
        &.nav li.dropdown i {
            display: inline-block;
            position: relative;
            top: 1px;
            right: 0px;
        }
        &.navbar-nav {
            display: inline-block;
            margin: 0;
            float: right;

            &.navbar-left{
              float: left !important;
            }

            .open .dropdown-menu {
                position: absolute;
                background-color: #fff;
            }

            > li {
                float: left;
            }
        }
    }

}


/* Width range  [ < extra small devices ]. extra small device only
 ========================================================================== */

@media (max-width: @screen-xs-max) {

    .mu-navbar-nav-sm {
        &.nav > li  {
              &.notification {
                > .dropdown-menu{
                  left:0;
                  &:before, &:after {
                      margin-right: 220px;
                  }
              }
            }
            &.tasks {
              > .dropdown-menu{
                left:-50px;
                &:before, &:after {
                    margin-right: 170px;
                }
              }
            }
            &.inbox {
              > .dropdown-menu{
                left:-100px;
                &:before, &:after {
                    margin-right: 120px;
                }
              }
            }
            &.favorite {
              > .dropdown-menu{
                left:-150px;
                &:before, &:after {
                  margin-right: 70px;
                }
              }
            }
            &.user {
              > .dropdown-menu{
                right:0;
                left:auto;
                &:before, &:after {
                  margin-right: 20px;
                }
              }
            }
        }
    }
}
/* Width range  [ < small devices ]. the most extra small device landscape mode only.
 ========================================================================== */

@media (max-width: @screen-xs) {

    .mu-navbar-nav-sm {
        &.navbar-nav {
            margin-top: 0px !important;
            > li.dropdown .dropdown-toggle {
                margin-top: -1px !important;
            }
        }
    }

  .mu-navbar-under-small{
    top: @navbar-sm-min-height;
  }
}
/* Width range  [ < small devices ]. the most extra small device portrait mode only.
 ========================================================================== */

@media (max-width: @screen-xxs) {

    .mu-navbar-nav-sm.nav > li.dropdown .dropdown-toggle {
        padding-left: 8px !important;
        padding-right: 8px !important;
    }
}

/* mu-breadcrumb-wrapper
 ========================================================================== */
.mu-breadcrumb-wrapper {
  min-height: 40px;
  line-height: 39px;
  padding: 0;
  display: block;

  .breadcrumb > li > a {
    color: #777;
  }

  .breadcrumb > li.active {
    font-weight: 700;
  }
}

/* mu-content
 ========================================================================== */
.mu-content-wrapper {
    display: table;
    width: 100%;
}

.mu-sidebar{
  display:table-cell;
  vertical-align: top;
}


.mu-content {
  display:table-cell;
}