// Name:            Style layout
// Description:     Sets  values for admin page layout HTML elements and customization.
//
// =============================================================================



/* mower admin body style.
 ========================================================================== */
 body:before {
   content: "";
   display: block;
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: -1;
   background-color: @body-bg-color;
 }
