//
// Component:       Variables
// Description:     Defines all color and style related values as variables
//                  to allow easy customization for the most common cases.
//
// ========================================================================


// Global variables
// ========================================================================
//** Background color for `<body>`.
@body-bg-color:                                 #EEEEEE;

//** Global text color on `<body>`.
@text-color:                                    #333;

//** Global textual link color.
@link-color:                                    #777;

//** Link hover color set via `darken()` function.
@link-hover-color:                              @text-color;

@font-family-sans-serif:                        "Helvetica Neue", Helvetica, "宋体", Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;

@font-family-base:                              @font-family-sans-serif;

@fontawesome-font: 								'FontAwesome';

@font-size-base:                                13px;

//** Unit-less `line-height` for use in components like buttons.
@line-height-base:                              1.538461538461538; // 20/13

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone for portrait mode
@screen-xxs:                 320px;

// Extra small screen / phone
@screen-xs:                  480px;
@screen-xs-min:              @screen-xs;
@screen-phone:               @screen-xs-min;

// Small screen / tablet
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
@screen-md:                  992px;
@screen-md-min:              @screen-md;
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
@screen-lg-desktop:          @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);

//consistent with bootstrap's brand color
@badge-primary:         	 #428bca;
@badge-success:         	 #5cb85c;
@badge-info:            	 #5bc0de;
@badge-warning:           	 #f0ad4e;
@badge-danger:               #d9534f;

//Theme Colors
@theme-primary: 			 #d40b07;
@theme-secondary: 			 #529500;
@theme-thirdcolor: 			 #faa619;
@theme-fourthcolor: 		 #a0d468;
@theme-fifthcolor: 			 #e75b8d;

@theme-primary-active:       #faa619;

//General Colors
@white: 					#fff;
@snow: 						#fbfbfb;
@whitesmoke: 				#f5f5f5;
@seashell: 					#f3f3f3;
@ivory: 					#eee;
@platinum: 					#e5e5e5;
@lightgray: 				#d0d0d0;
@gray: 						#ccc;
@darkgray: 					#999999;
@silver: 					#777;
@sonic-silver: 				#737373;
@storm-cloud: 				#666;
@lightcarbon: 				#555;
@carbon: 					#444;
@slate-gray: 				#333;
@darkcarbon: 				#262626;
@black3: 					rgba(0, 0, 0, 0.3);
@black2: 					rgba(0, 0, 0, 0.2);
@black: 					#000;
@blue: 						#5DB2FF;
@lightblue:                 #93CBF9;
@darkblue:                  #4c4f53;
@sky: 						#11a9cc;
@azure: 					#2dc3e8;
@blueberry: 				#6f85bf;
@palegreen: 				#a0d468;
@green: 					#8cc474;
@darkgreen: 				#496949;
@lightyellow: 				#f6d52e;
@yellow: 					#ffce55;
@gold: 						#f9b256;
@orange: 					#fb6e52;
@darkorange: 				#ed4e2a;
@red: 						#df5138;
@darkred: 					#a65858;
@pink: 						#e75b8d;
@darkpink: 					#cc324b;
@magenta: 					#bc5679;
@purple: 					#7e3794;
@maroon: 					#981b48;
@lighten:                   #d5e7ec;
@teal:                      #568a89;		


// ANIMATION
// --------------------------
@animation-speed-normal:             0.5s;
@animation-speed-fast:               0.3s;
@animation-speed-slow:               0.8s;
@animation-type:                     cubic-bezier(0.175,.885,.32,1);



